<% provide(:title, "Help") %>
<h1>Apon finishing the book I realized that this page was still blank, so I added the README to it</h1>
<br>
<br>
<br>
<div id="readme">
  <%= markdown(render file: "#{Rails.root}/README.md") %>
</div>